{{- with .cxt}}
{{- if (and .Params.cover.image (not $.isHidden)) }}
<figure class="entry-cover">
    {{- $cover := .Params.cover.image }}
    
    {{- if or (strings.HasSuffix $cover ".mp4") (strings.HasSuffix $cover ".webm") }}
        <video autoplay loop muted playsinline preload="auto" style="width: 100%; height: 100%; object-fit: cover; pointer-events: none;">
            {{- if strings.HasSuffix $cover ".webm" }}
                <source src="{{ $cover | absURL }}" type="video/webm">
            {{- else }}
                <source src="{{ $cover | absURL }}" type="video/mp4">
            {{- end }}
        </video>
        
    {{- else }}
        {{- $responsiveImages := false }}
        {{- $addLink := (and .Site.Params.cover.linkFullImages $.IsSingle) }}
        {{- $pageBundleCover := .Resources.GetMatch $cover }}
        {{- $globalResourcesCover := resources.Get $cover }}
        {{- $coverImage := (or $pageBundleCover $globalResourcesCover)}}
        
        {{- if $coverImage }}
            {{- $coverImage = $coverImage.Resize "720x" }}
            <img loading="lazy" src="{{ $coverImage.Permalink }}" alt="{{ .Params.cover.alt | default .Title }}" style="width: 100%; height: 100%; object-fit: cover;">
        {{- else }}
            <img loading="lazy" src="{{ $cover | absURL }}" alt="{{ .Params.cover.alt | default .Title }}" style="width: 100%; height: 100%; object-fit: cover;">
        {{- end }}
    {{- end }}
</figure>
{{- end }}
{{- end }}